<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/resources/css/add_product.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <a th:href="@{/}" class="name-webapp">Calorie Tracker</a>
        </div>
    </header>
    <div class="container">
        <div class="block-add-product">
            <h1>Create your own product</h1>
            <p>some desscription</p>

            <div class="input-box">
                <input id="name" type="text" autofocus="true" required>
                <label id="name-label" for="">Name</label>
                <span id="name-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="calories" type="text" autofocus="true" required>
                <label id="calories-label" for="">Calories</label>
                <span id="calories-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="proteins" type="text" autofocus="true" required>
                <label id="proteins-label" for="">Proteins</label>
                <span id="proteins-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="fats" type="text" autofocus="true" required>
                <label id="fats-label" for="">Fats</label>
                <span id="fats-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="carbohydrates" type="text" autofocus="true" required>
                <label id="carbohydrates-label" for="">Carbohydrates</label>
                <span id="carbohydrates-error-span" class="error-label" for=""></span>
            </div>

            <div class="btns-box">
                <a id="btn-back-to-main" th:href="@{/}" class="btn">Back</a>
                <button id="btn-add" class="btn" type="button">Add</button>
            </div>
            <div id="sever-error-container" class="error-container" th:if="${not #strings.isEmpty(errorMessage)}">
                <div id="sever-error-box" class="error-box">
                    <p>Error</p>
                    <span id="sever-error-message" class="error-message" th:text="${errorMessage}"></span>
                    <button>OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/js/add_product.js"></script>
</body>
</html>
