<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/resources/css/add_product.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>

    <div class="container">

        <div class="block-add-product">
            <h1>Create your own product</h1>
            <p>some desscription</p>

            <div class="input-box">
                <label for="">Name</label>
                <input type="text" placeholder="product name" autofocus="true">
            </div>

            <div class="input-box">
                <label for="">Calories</label>
                <input type="text" placeholder="calories" autofocus="true">
            </div>

            <div class="input-box">
                <label for="">Proteins</label>
                <input type="text" placeholder="proteins" autofocus="true">
            </div>

            <div class="input-box">
                <label for="">Fats</label>
                <input type="text" placeholder="fats" autofocus="true">
            </div>

            <div class="input-box">
                <label for="">Carbohydrates</label>
                <input type="text" placeholder="carbohydrates" autofocus="true">
            </div>

            <div class="btns-box">
                <button id="btn-back" class="btn" type="button">Back</button>
                <button id="btn-add" class="btn" type="button">Add</button>
            </div>

        </div>

        
    </div>
    <script src="/resources/js/add_product.js"></script>
</body>
</html>
