<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>
    <link rel="stylesheet" href="/resources/css/add_product.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>
    <div class="container">
        <div class="block-add-product">
            <h1>Create your own product</h1>
            <p>some desscription</p>

            <div class="input-box">
                <input id="name" type="text" autofocus="true" required>
                <label id="name-label" for="">Name</label>
                <span id="name-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="calories" type="text" autofocus="true" required>
                <label id="calories-label" for="">Calories</label>
                <span id="calories-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="proteins" type="text" autofocus="true" required>
                <label id="proteins-label" for="">Proteins</label>
                <span id="proteins-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="fats" type="text" autofocus="true" required>
                <label id="fats-label" for="">Fats</label>
                <span id="fats-error-span" class="error-label" for=""></span>
            </div>

            <div class="input-box">
                <input id="carbohydrates" type="text" autofocus="true" required>
                <label id="carbohydrates-label" for="">Carbohydrates</label>
                <span id="carbohydrates-error-span" class="error-label" for=""></span>
            </div>

            <div class="btns-box">
                <button id="btn-back" class="btn" type="button">Back</button>
                <button id="btn-add" class="btn" type="button">Add</button>
            </div>
        </div>
    </div>
    <script src="/resources/js/add_product.js"></script>
</body>
</html>
