<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add meal</title>
    <link rel="stylesheet" href="/resources/css/add_meal.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <a th:href="@{/}" class="name-webapp">Calorie Tracker</a>
        </div>
    </header>
    <div class="data-table-container">
        <h1>Add meal</h1>
        <!-- FORM /add-meal/search -->
        <form id="searchProductsForm" action="@{/add-meal/search}" method="post">
            <div class="search-box">
                <i class='bx bx-search-alt-2'></i>
                <input id="search-input" type="text" placeholder="Search">
                <button id="search-btn" form="searchProductsForm" class="btn" type="submit">Search</button>
            </div>
        </form>
        <div class="table-container">
            <div class="product-container">
                <div class="tb product-table">
                    <div class="header-tb header-product-table">
                        <p>Products</p>
                    </div>
                    <div class="body-tb body-product-table">
                        <table id="products-table">
                            <thead>
                                <tr>
                                    <th class="namme">Name</th>
                                    <th>Calories</th>
                                    <th>Proteins</th>
                                    <th>Fats</th>
                                    <th>Carbohydrates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="product, iter : *{searchProducts}">
                                    <div>
                                        <input type="hidden" th:field="*{products[__${iter.index}__].id}" th:value="${product.id}" />
                                        <td th:field="*{products[__${iter.index}__].name}" th:text="${product.name}"></td>
                                        <td th:field="*{products[__${iter.index}__].calories}" th:text="${product.calories}"></td>
                                        <td th:field="*{products[__${iter.index}__].proteins}" th:text="${product.proteins}" ></td>
                                        <td th:field="*{products[__${iter.index}__].fats}" th:text="${product.fats}"></td>
                                        <td th:field="*{products[__${iter.index}__].carbohydrates}" th:text="${product.carbohydrates}"></td>
                                        <td>
                                            <input type="checkbox" th:field="*{idsToSelect}" th:value="${product.id}" />
                                        </td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-box">
                    <a id="btn-back-to-main" th:href="@{/}" class="btn">Back</a>
                    <button id="btn-add-product" type="button" class="btn">Add product</button>
                </div>
            </div>
            <!-- FORM /add-meal -->
            <form id="addMealForm" th:action="@{/my-products}" method="post">
                <div class="chosen-product-container">
                    <div class="chosen-product-table tb">
                        <div class="header-chosen-product-table header-tb">
                            <p>List of chosen product</p>
                        </div>
                        <div class="body-chosen-product-table body-tb">
                            <table id="list-of-chosen-product-table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Weight</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- FORM /get-meal-time -->
                    <form id="getMealTimeForm" th:action="@{/get-meal-time}" method="post">
                        <div class="button-box">
                            <button  id="btn-clear" name="button" type="submit">Clear</button>
                            <button id="btn-add-meal" form="getMealTimeForm" type="button">Add the meal</button>
                        </div>
                    </form>
                </div>
                <div class="data-date-container">
                    <div class="block-add-date-time">
                        <div class="head-box">
                            <h1>Add date and time of you meal</h1>
                            <p>some description</p>
                        </div>
                        <div class="input-box">
                            <label for="">Date</label>
                            <input id="date" type="date" th:field="*{}" autofocus="true">
                        </div>
                        <div class="input-box">
                            <label for="">Meal time</label>
                            <select id="mealTimesOption" name="mealTimesOption" th:field="*{selectedMealTimesOption}">
                                <option th:each="mealTime : ${mealTimes}" th:value="${mealTime.id}" th:text="${mealTime.name}"></option>
                            </select>
                        </div>
                        <div class="btns-box">
                            <button id="btn-back-to-add-meal" class="btn" type="button">Back</button>
                            <button id="btn-add" form="addMealForm" name="addMeal" class="btn" type="submit">Add</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="client-error-container" class="error-container">
            <div id="client-error-box" class="error-box">
                <p>Error</p>
                <span id="client-error-message" class="error-message"></span>
                <button >OK</button>
            </div>
        </div>
        <div id="sever-error-container" class="error-container" th:if="${not #strings.isEmpty(errorMessage)}">
            <div id="sever-error-box" class="error-box">
                <p>Error</p>
                <span id="sever-error-message" class="error-message" th:text="${errorMessage}"></span>
                <button>OK</button>
            </div>
        </div>
    </div>
    <script src="/resources/js/add_meal.js"></script>
</body>
</html>
