<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add meal</title>
    <link rel="stylesheet" href="/resources/css/add_meal.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>
    <div class="data-table-container">
        <h1>Add meal</h1>
        <div class="search-box">
            <i class='bx bx-search-alt-2'></i>
            <input type="text" placeholder="Search">
        </div>
        <div class="table-container">
            <div class="product-container">
                <div class="tb product-table">
                    <div class="header-tb header-product-table">
                        <p>Products</p>
                    </div>
                    <div class="body-tb body-product-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="namme">Name</th>
                                    <th>Calories</th>
                                    <th>Proteins</th>
                                    <th>Fats</th>
                                    <th>Carbohydrates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-box">
                    <button id="btn-back-to-main" type="button">Back</button>
                    <button id="btn-add-product" type="button">Add product</button>
                </div>
            </div>
            <div class="chosen-product-container">
                <div class="chosen-product-table tb">
                    <div class="header-chosen-product-table header-tb">
                        <p>List of chosen product</p>
                    </div>
                    <div class="body-chosen-product-table body-tb">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Weight</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td>100g</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-box">
                    <button  id="btn-clear"  name="button" type="button">Clear</button>
                    <button id="btn-add-meal" type="button">Add the meal</button>
                </div>
            </div>
        </div>
        <div class="data-date-container">
            <div class="block-add-date-time">
                <div class="head-box">
                    <h1>Add date and time of you meal</h1>
                    <p>some description</p>
                </div>
                <div class="input-box">
                    <label for="">Date</label>
                    <input type="date" placeholder="" autofocus="true" value="2023-10-31">
                </div>
                <div class="input-box">
                    <label for="">Meal time</label>
                    <select name="" id="" value="Select">
                        <option value="">Breakfast</option>
                        <option value="">Lunch</option>
                        <option value="">Dinner</option>
                    </select>
                </div>
                <div class="btns-box">
                    <button id="btn-back-to-add-meal" class="btn" type="button">Back</button>
                    <button id="btn-add" class="btn" type="button">Add</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/js/add_meal.js"></script>
</body>
</html>
