<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change meal</title>
    <link rel="stylesheet" href="/resources/css/change_meal.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <a th:href="@{/}" class="name-webapp">Calorie Tracker</a>
        </div>
    </header>
    <div class="data-table-container">
        <h1>Change meal</h1>
        <!-- FORM /change-meal/search -->
        <form id="searchMealForm" th:action="@{/change-meal/search}"
                onsubmit="return validateSearchForm();" method="post">
            <div class="search-box">
                <i class='bx bx-search-alt-2'></i>
                <input id="date" type="date" th:field="*{date}">
                <button id="search-btn" form="searchMealForm" name="search" class="btn" type="submit">Search</button>
            </div>
        </form>
        <div class="table-container">
            <div class="product-container">
                <div class="tb product-table">
                    <div class="header-tb header-product-table">
                        <p>Products</p>
                    </div>
                    <div id="meal-time">
                        <select name="" id="" value="Select">
                            <option value="0"></option>
                            <option value="1">Breakfast</option>
                            <option value="2">Lunch</option>
                            <option value="3">Dinner</option>
                        </select>
                    </div>
                    <div class="body-tb body-product-table">
                        <!-- FORM /change-meal/apply -->
                        <form id="applyChangesMeals" th:object="${mealsDTO}" th:action="@{/change-meal/apply}"
                                onsubmit="return validateApplyChangesForm();" method="post">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="namme">Name</th>
                                        <th>Meal Time</th>
                                        <th>Weight</th>
                                        <th>Calories</th>
                                        <th>Proteins</th>
                                        <th>Fats</th>
                                        <th>Carbohydrates</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="meal, iter : *{meals}">
                                        <div>
                                            <input type="hidden" th:field="*{meals[__${iter.index}__].id}" th:value="${meal.id}" />
                                            <td>
                                                <input th:field="*{meals[__${iter.index}__].name}" th:value="${meal.name}" readonly/>
                                            </td>
                                            <td>
                                                <input th:field="*{meals[__${iter.index}__].mealTime}" th:value="${meal.mealTime}"/>
                                            </td>
                                            <td>
                                                <input th:field="*{meals[__${iter.index}__].weight}" th:value="${meal.weight}"/>
                                            </td>
                                            <td>
                                                <input th:field="*{meals[__${iter.index}__].calories}" th:value="${meal.calories}" readonly/>
                                            </td>
                                            <td>
                                                <input th:field="*{meals[__${iter.index}__].proteins}" th:value="${meal.proteins}" readonly/>
                                            </td>
                                            <td>
                                                <input th:field="*{meals[__${iter.index}__].fats}" th:value="${meal.fats}" readonly/>
                                            </td>
                                            <td>
                                                <input th:field="*{meals[__${iter.index}__].carbohydrates}" th:value="${meal.carbohydrates}" readonly/>
                                            </td>
                                            <td>
                                                <input type="checkbox" th:field="*{idsToDelete}" th:value="${meal.id}" />
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="button-box">
                    <a id="btn-back-to-main" th:href="@{/}" class="btn">Back</a>
                    <button id="btn-apply-changes" form="applyChangesMeals" name="apply" type="submit" class="btn">Apply changes</button>
                    <button id="btn-delete" form="applyChangesMeals" name="remove" type="submit" class="btn">Delete</button>
                </div>
                <div id="client-error-container" class="error-container">
                    <div id="client-error-box" class="error-box">
                        <p>Error</p>
                        <span id="client-error-message" class="error-message"></span>
                        <button >OK</button>
                    </div>
                </div>
                <div id="sever-error-container" class="error-container" th:if="${not #strings.isEmpty(errorMessage)}">
                    <div id="sever-error-box" class="error-box">
                        <p>Error</p>
                        <span id="sever-error-message" class="error-message" th:text="${errorMessage}"></span>
                        <button>OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/resources/js/change_meal.js"></script>
</html>
