<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change meal</title>
    <link rel="stylesheet" href="/resources/css/change_meal.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>
    <div class="data-table-container">
        <h1>Change meal</h1>
        <div class="search-box">
            <i class='bx bx-search-alt-2'></i>
            <input type="text" placeholder="Search by date">
        </div>
        <div class="table-container">
            <div class="product-container">
                <div class="tb product-table">
                    <div class="header-tb header-product-table">
                        <p>Products</p>
                    </div>
                    <div class="body-tb body-product-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="namme">Name</th>
                                    <th>Meal Time</th>
                                    <th>Weight</th>
                                    <th>Calories</th>
                                    <th>Proteins</th>
                                    <th>Fats</th>
                                    <th>Carbohydrates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td>Product name</td>
                                        <td contenteditable="true">dinner</td>
                                        <td contenteditable="true">500g</td>
                                        <td>120</td>
                                        <td>50</td>
                                        <td>20</td>
                                        <td>80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-box">
                    <button id="btn-back-to-main" type="button">Back</button>
                    <button id="btn-apply-changes" type="button">Apply changes</button>
                    <button id="btn-delete" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/js/change_meal.js"></script>
</body>
</html>
