<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get summary</title>
    <link rel="stylesheet" href="/resources/css/get_summary.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>

    <div class="container">

        <div class="block-setting">
            <h1>Summary table</h1>
            <p>please, enter the dates</p>
            
            <div class="input-box">
                <label for="">Start Date</label>
                <input type="date" placeholder="" autofocus="true" value="2023-10-01">
            </div>

            <div class="input-box">
                <label for="">End Date</label>
                <input type="date" placeholder="" autofocus="true" value="2023-10-31">
            </div>

            <div class="btns-box">
                <button id="btn-back" class="btn" type="button">Back</button>
                <button id="btn-add" class="btn" type="button">Get summary table</button>
            </div>
        </div>

        <div class="product-container">
            <h1>Summary table</h1>
            <div class="tb product-table">
                <div class="header-tb header-product-table">
                    <p>Products</p>
                </div>
                <div class="body-tb body-product-table">
                    <table>
                        <thead>
                            <tr>
                                <th class="namme">Date</th>
                                <th>Weight</th>
                                <th>Calories</th>
                                <th>Proteins</th>
                                <th>Fats</th>
                                <th>Carbohydrates</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <div>
                                    <td>01/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>03/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>05/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>07/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>10/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>12/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>15/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>17/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>19/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>20/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>23/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>25/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>29/10/2023</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                            <tr>
                                <div>
                                    <td>Product name</td>
                                    <td>500g</td>
                                    <td>120</td>
                                    <td>50</td>
                                    <td>20</td>
                                    <td>80</td>

                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="button-box">
                <button id="btn-back-to-main" type="button">Back</button>
                <button id="btn-apply-changes" type="button">Get table in .csv</button>
            </div>
        </div>
    </div>
    <script src="/resources/js/get_summary.js"></script>
</body>
</html>
