<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get summary</title>
    <link rel="stylesheet" href="resources/css/get_summary.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <a th:href="@{/}" class="name-webapp">Calorie Tracker</a>
        </div>
    </header>

    <div class="container">

        <div class="inputs-date-layout" th:unless="${showTable}">
            <h1>Summary table</h1>
            <p>please, enter the dates</p>

            <form id="getSummaryFrom" th:action="@{/summary-form}" method="post" onsubmit="return checkDate();">
                <div class="input-box">
                    <label for="">Start Date</label>
                    <input id="start-date" name="startDate" type="date" placeholder="" autofocus="true">
                </div>

                <div class="input-box">
                    <label for="">End Date</label>
                    <input id="end-date" name="endDate" type="date" placeholder="" autofocus="true">
                </div>
            </form>

            <div class="btns-box">
                <a id="btn-back-to-main" th:href="@{/}" class="btn">Back</a>
                <button id="get-summary-table-btn" form="getSummaryFrom" class="btn" type="submit">Get summary table</button>
            </div>
        </div>

        <div class="summary-table-layout" th:if="${showTable}">
            <h1>Summary table</h1>
            <div class="tb product-table">
                <div class="header-tb header-product-table">
                    <p>Products</p>
                </div>
                <div class="body-tb body-product-table">
                    <table>
                        <thead>
                            <tr>
                                <th class="namme">Date</th>
                                <th>Weight</th>
                                <th>Calories</th>
                                <th>Proteins</th>
                                <th>Fats</th>
                                <th>Carbohydrates</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="summary : ${summaryDTO}">
                                <div>
                                    <td th:text="${summary.date}"></td>
                                    <td th:text="${summary.weight}"></td>
                                    <td th:text="${summary.calories}"></td>
                                    <td th:text="${summary.proteins}"></td>
                                    <td th:text="${summary.fats}"></td>
                                    <td th:text="${summary.carbohydrates}"></td>
                                </div>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="button-box">
                <button id="btn-back" type="button">Back</button>
                <button id="get-table-csv-btn" type="button">Get table in .csv</button>
            </div>
        </div>
        <div id="client-error-container" class="error-container">
            <div id="client-error-box" class="error-box">
                <p>Error</p>
                <span id="client-error-message" class="error-message"></span>
                <button >OK</button>
            </div>
        </div>
        <div id="sever-error-container" class="error-container" th:if="${not #strings.isEmpty(errorMessage)}">
            <div id="sever-error-box" class="error-box">
                <p>Error</p>
                <span id="sever-error-message" class="error-message" th:text="${errorMessage}"></span>
                <button>OK</button>
            </div>
        </div>

    </div>
    <script src="/resources/js/get_summary.js"></script>
</body>
</html>
