<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List product</title>
    <link rel="stylesheet" href="/resources/css/list_product.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <a th:href="@{/}" class="name-webapp">Calorie Tracker</a>
        </div>
    </header>
    <div class="data-table-container">
        <h1>List of my products</h1>
        <div class="table-container">
            <div class="product-container">
                <div class="tb product-table">
                    <div class="header-tb header-product-table">
                        <p>Products</p>
                    </div>
                    <div class="body-tb body-product-table">
                        <form id="applyChangesMyProduct" th:object="${productDTO}" th:action="@{/my-products}"
                              onsubmit="return validateApplyForm();" method="post">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="namme">Name</th>
                                        <th>Calories</th>
                                        <th>Proteins</th>
                                        <th>Fats</th>
                                        <th>Carbohydrates</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="product, iter : *{products}">
                                        <div>
                                            <input type="hidden" th:field="*{products[__${iter.index}__].id}" th:value="${product.id}" />
                                            <td>
                                                <input th:field="*{products[__${iter.index}__].name}" th:value="${product.name}"/>
                                            </td>
                                            <td>
                                                <input th:field="*{products[__${iter.index}__].calories}" th:value="${product.calories}" />
                                            </td>
                                            <td>
                                                <input th:field="*{products[__${iter.index}__].proteins}" th:value="${product.proteins}" />
                                            </td>
                                            <td>
                                                <input th:field="*{products[__${iter.index}__].fats}" th:value="${product.fats}" />
                                            </td>
                                            <td>
                                                <input th:field="*{products[__${iter.index}__].carbohydrates}" th:value="${product.carbohydrates}" />
                                            </td>
                                            <td>
                                                <input type="checkbox" th:field="*{idsToDelete}" th:value="${product.id}" />
                                            </td>
                                        </div>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
                <div class="button-box">
                    <a id="btn-back-to-main" th:href="@{/}" class="btn">Back</a>
                    <button id="btn-apply-changes" form="applyChangesMyProduct" name="apply" type="submit" class="btn">Apply changes</button>
                    <button id="btn-delete" form="applyChangesMyProduct" name="remove" type="submit" class="btn">Delete</button>
                </div>
                <div id="client-error-container" class="error-container">
                    <div id="client-error-box" class="error-box">
                        <p>Error</p>
                        <span id="client-error-message" class="error-message"></span>
                        <button >OK</button>
                    </div>
                </div>
                <div id="sever-error-container" class="error-container" th:if="${not #strings.isEmpty(errorMessage)}">
                    <div id="sever-error-box" class="error-box">
                        <p>Error</p>
                        <span id="sever-error-message" class="error-message" th:text="${errorMessage}"></span>
                        <button>OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/js/list_product.js"></script>
</body>
</html>
