<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List product</title>
    <link rel="stylesheet" href="/resources/css/list_product.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>
    <div class="data-table-container">
        <h1>List of my products</h1>
        <div class="table-container">
            <div class="product-container">
                <div class="tb product-table">
                    <div class="header-tb header-product-table">
                        <p>Products</p>
                    </div>
                    <div class="body-tb body-product-table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="namme">Name</th>
                                    <th>Calories</th>
                                    <th>Proteins</th>
                                    <th>Fats</th>
                                    <th>Carbohydrates</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                                <tr>
                                    <div>
                                        <td contenteditable="true">Product name</td>
                                        <td contenteditable="true">120</td>
                                        <td contenteditable="true">50</td>
                                        <td contenteditable="true">20</td>
                                        <td contenteditable="true">80</td>
                                        <td><input type="checkbox" name="" id=""></td>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-box">
                    <button id="btn-back-to-main" type="button">Back</button>
                    <button id="btn-apply-changes" type="button">Apply changes</button>
                    <button id="btn-delete" type="button">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/js/list_product.js"></script>
</body>
</html>
