<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/resources/css/main.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="header-box">
            <div class="name-header">
                <a th:href="@{/}" class="name-webapp">nameWebApp</a>
            </div>
            <div class="a-box">
                <div id="setting-box" class="profiles-setting-box">
                    <i class='bx bx-cog' style='color:#0066EE'></i>
                    <a th:href="@{/settings}">Profile settings</a>
                </div>
                <form id="signout-box" class="signout-box" th:action="@{/logout}" method="post">
                    <i class='bx bx-log-out bx-rotate-180' style='color:#0066EE'></i>
                    <button type="submit">Sign out</button>
                </form>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="menu-box">
            <div class="a-box">
                <a id="add-product-link" th:href="@{/create-product}">Add <br> product</a>
            </div>
            <div class="a-box">
                <a id="list-my-product-btn" th:href="@{/my-products}">List of my<br> products</a>
            </div>
            <div class="a-box">
               <a id="Add-meal-link" th:href="@{/add-meal}">Add meal</a>
            </div>
            
            <div class="a-box">
                <a id="change-meals-link" th:href="@{/change-meal}">Change <br> meal</a>
            </div>
            <div class="a-box">
                <a id="get-summary-link" th:href="@{/summary-form}">Get <br> summary</a>
            </div>
        </div>
        <div class="content-box">
            <div class="image-box">
                <img src="/resources/image/1.png" alt="">
            </div>
            <div class="text-content-box">
                <p>Good health starts with what you eat!</p>
                <p>Track meals, learn about your habits, and reach your goals with us.</p>
            </div>
        </div>
        <div id="sever-error-container" class="error-container" th:if="${not #strings.isEmpty(errorMessage)}">
            <div id="sever-error-box" class="error-box">
                <p>Error</p>
                <span class="error-message" id="sever-error-message" th:text="${errorMessage}"></span>
                <button>OK</button>
            </div>
        </div>
    </div>
    <script src="/resources/js/main.js"></script>
</body>
</html>
