<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="/resources/css/settings.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <a th:href="@{/}" class="name-webapp">nameWebApp</a>
        </div>
    </header>

    <div class="container">
        <div class="block-setting">
            <h1>Settings</h1>
            <form id="settingsForm" action="@{/settings/save}" th:object="${user}" method="post">
                <div class="input-box">
                    <label for="">Name</label>
                    <input id="name" type="text" th:field="*{name}" th:value="${user.name}" autofocus="true">
                    <span id="name-error-span" for=""></span>
                </div>
                <div class="input-box">
                    <label for="">Weight</label>
                    <input id="weight" type="text" th:field="*{weight}" th:value="${user.weight}" autofocus="true">
                    <span id="weight-error-span" for=""></span>
                </div>
                <div class="input-box input-password">
                    <label for="">Password</label>
                    <input id="password" type="password" th:field="*{password}" th:value="${user.password}" autofocus="true">
                    <i class='bx bx-show showhide'></i>
                    <i class='bx bx-hide showhide'></i>
                    <span id="password-error-span" for=""></span>
                </div>
            </form>
            <div class="btns-box">
                <a th:href="@{/}" class="btn">Back</a>
                <button id="btn-save" class="btn" type="button">Save change</button>
            </div>
            <div id="sever-error-container" class="error-container" th:if="${not #strings.isEmpty(errorMessage)}">
                <div id="sever-error-box" class="error-box">
                    <p>Error</p>
                    <span class="error-message" id="sever-error-message" th:text="${errorMessage}"></span>
                    <button>OK</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/resources/js/settings.js"></script>
</body>
</html>
