<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/resources/css/signup.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>

    <div class="container">
        <div class="block-signup">
            <h1>Get started</h1>
            <p>We're delighted to have you here and ready to assist you in achieving your health and fitness goals. Let's take the first step towards a better you.</p>
            
            <div class="input-box">

                <input type="text" placeholder="Name*" autofocus="true">
            </div>

            <div class="input-box">
                <input type="text" name="haha" id="" placeholder="Weight*" autofocus="true">
            </div>

            <div class="input-box">
                <input type="text" name="haha" id="" placeholder="Login*" autofocus="true">
            </div>

            <div class="input-box">
                <input type="text" name="haha" id="" placeholder="Password*" autofocus="true">
            </div>

            <button class="btn" type="button">Sign up</button>
            <P>Already have an account? <a href="signin.html">Sign in</a></P>
        </div>
    </div>
</body>
</html>