<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/resources/css/signup.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <a th:href="@{/}" class="name-webapp">Calorie Tracker</a>
        </div>
    </header>

    <div class="container">
        <div class="block-signup">
            <h1>Get started</h1>
            <p>We're delighted to have you here and ready to assist you in achieving your health and fitness goals. Let's take the first step towards a better you.</p>
            
            <form id="registerForm" th:action="@{/register}" th:object="${user}" method="post" >
                <div class="input-box">
                    <input id="name" type="text" th:field="*{name}" autofocus="true" required>
                    <label id="name-label" for="">Name</label>
                    <span class="client-error" id="name-error-span" for=""></span>
                </div>
    
                <div class="input-box">
                    <input id="weight" type="text" th:field="*{weight}" autofocus="true" required>
                    <label id="weight-label" for="">Weight</label>
                    <span class="client-error" id="weight-error-span" for=""></span>
                </div>
    
                <div class="input-box">
                    <input id="username" type="text" th:field="*{login}" autofocus="true" required>
                    <label id="username-label" for="">Username</label>
                    <span class="client-error" id="username-error-span" for=""></span>
                </div>
    
                <div class="input-box">
                    <input id="password" type="text" th:field="*{password}" autofocus="true" required>
                    <label id="password-label" for="">Password</label>
                    <span class="client-error" id="password-error-span" for=""></span>
                </div>
    
                <button class="btn" type="button">Sign up</button>
            </form>
            <P>Already have an account? <a th:href="@{/login}">Sign in</a></P>
            <div id="errorContainer" class="errorContainer" th:if="${not #strings.isEmpty(errorMessage)}">
                <div id="errorBox" class="error-box">
                    <p>Error</p>
                    <span class="sever-error" id="error-message" th:text="${errorMessage}"></span>
                    <button>OK</button>
                </div>
            </div>
        </div>
        
    </div>
    <script src="/resources/js/signup.js"></script>
</body>
</html>
