<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/static/resources/css/signup.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>

</head>
<body>
    <header class="header">
        <div class="main-block-header">
            <button class="name-webapp">nameWebApp</button>
        </div>
    </header>

    <div class="container">
        <div class="block-signup">
            <h1>Get started</h1>
            <p>We're delighted to have you here and ready to assist you in achieving your health and fitness goals. Let's take the first step towards a better you.</p>
            
            <div class="input-box">
                <input id="name" type="text" autofocus="true" required>
                <label id="name-label" for="">Name</label>
                <span id="name-error-span" for=""></span>
            </div>

            <div class="input-box">
                <input id="weight" type="text" autofocus="true" required>
                <label id="weight-label" for="">Weight</label>
                <span id="weight-error-span" for=""></span>
            </div>

            <div class="input-box">
                <input id="username" type="text" autofocus="true" required>
                <label id="username-label" for="">Username</label>
                <span id="username-error-span" for=""></span>
            </div>

            <div class="input-box">
                <input id="password" type="text" autofocus="true" required>
                <label id="password-label" for="">Password</label>
                <span id="password-error-span" for=""></span>
            </div>

            <button class="btn" type="button">Sign up</button>
            <P>Already have an account? <a href="">Sign in</a></P>
        </div>
    </div>
    <script src="/static/resources/js/signup.js"></script>
</body>
</html>
