* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    background-color: #fff;
    justify-content: center;
    box-shadow:  0px -1px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header .main-block-header {
    display: flex;
    max-width: 1000px;
    height: 60px;
    width: 100%;
    background-color: white;
}

.name-webapp {
    font-size: 25px;
    font-weight: 700;
    background-color: white;
    color: #0066EE;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    cursor: pointer;
}

.data-table-container {
    position: relative;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 640px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 60px 10px 20px;
}

.data-table-container h1{
    text-align: center;
    font-size: 35px;
}
.search-box {
    position: relative;
    width: 700px;
    height: 45px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow:  0px -1px 12px rgba(0, 0, 0, 0.1);
}

.search-box .bx-search-alt-2 {
    font-size: 25px;
    margin-right: 5px;
}

.search-box input {
    width: 100%;
    height: 100%;
    color: black;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 17px;
    outline: none;
}

#search-btn {
    position: absolute;
    width: 110px;
    height: 30px;
    right: -150px;
    background-color: rgb(86, 148, 229);
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

#search-btn:hover {
    background: rgba(14, 107, 229, 0.85);
}

.table-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.product-container {
    position: relative;
    width: 65%;
    height: 496px;
    border-radius: 5px;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tb {
    width: 100%;
    height: 85%;
    backdrop-filter: blur(12px);
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
}

.header-tb {
    position: relative;
    width: 100%;
    height: 8%;
    background-color: rgba(104, 161, 235, 1);
    padding: 10px;
    display: flex;
    align-items: center;
}

.header-tb p {
    font-weight: 700;
    
}

.body-tb {
    width: 100%;
    height: 92%;
    border-radius: 0 0 12px 12px;
    border-left: 2px;
    border-bottom: 2px;
    border-right: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: auto;
}

table, th, td {
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
}

thead th {
    text-align: center;
}

thead th:first-child {
    text-align: left;
}

tbody td {
    text-align: center;
}

tbody td:first-child {
    text-align: left;
}

thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow:  0px -1px 5px rgba(0, 0, 0, 0.3);
}

tbody tr:hover {
    background-color: rgba(234, 230, 230, 0.5);
}

tbody input[type='checkbox'] {
    width: 16px;
    height: 16px;
}

.button-box {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-container .button-box .btn {
    height: 40%;
    width: 20%;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

button:hover {
    cursor: pointer;
}

.button-box #btn-add-product {
    background-color: rgb(86, 148, 229);
}

 #btn-add-product:hover {
    background: rgba(14, 107, 229, 0.85);
}

.button-box #btn-back-to-main {
    background-color: #a6a3a3;
}

.button-box #btn-back-to-main:hover {
    background: rgba(110, 110, 110, 0.85);
}

.chosen-product-container {
    width: 30%;
}

.chosen-product-table {
    box-shadow:  0px -1px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.chosen-product-table input {
    width: 100%;
    height: 100%;
    color: black;
    background: transparent;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 17px;
    outline: none;
}

.header-chosen-product-table {
    display: flex;
    justify-content: space-between;
}

.chosen-product-container .button-box button {
    height: 40%;
    width: 40%;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(86, 148, 229);
}

.chosen-product-container .button-box button:hover {
    background: rgba(14, 107, 229, 0.85);
}

.data-date-container {
    display: none;
    position: absolute;
    left: -1px;
    width: 1000px;
    height: 625px;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
}

.data-date-container .block-add-date-time {
    position: relative;
    left: 220px;
    max-width: 500px;
    max-height: 530px;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0px -1px 12px rgba(0, 0, 0, 0.15);
}

.data-date-container h1 {
    width: 100%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 60px;
    font-weight: 700;
}

.data-date-container p {
    font-size: 19px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: auto;
}

.data-date-container .input-box{
    position: relative;
    max-width: 370px;
    width: 100%;
    margin: auto;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.data-date-container label {
    font-size: 18px;
    margin: 0 0 6px 13px;
}

.data-date-container .input-box input,
.data-date-container .input-box select{
    max-width: 355px;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border: 1px solid rgba(54, 47, 47, 0.4);
    font-size: 17px;
    border-radius: 10px;
    color: #0b0202c3;
    padding-left: 15px;
    padding-right: 3px;
}

.data-date-container .btns-box {
    max-width: 370px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    margin: 30px 0 15px 65px;
}

.data-date-container .btn {
    height: 35px;
    width: 30%;
    color: white;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #a6a3a3;
    margin-top: 20px;
} 

.data-date-container .btn ~ .btn {
    background-color: rgb(86, 148, 229);
}

.data-date-container .btn:hover {
    cursor: pointer;
    background: rgba(110, 110, 110, 0.85);
}

.data-date-container .btn ~ .btn:hover {
    background: rgba(14, 107, 229, 0.85);
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(2px);
    }
}

.error-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 625px;
    top: 0px;
    left: 0px;
}

#client-error-container {
    display: none;
}

#sever-error-container {
    display: flex;
}

.error-box {
    width: 400px;
    height: auto;
    background-color: #fefefe;
    padding: 8px;
    border-radius: 10px;
    box-shadow:  0px -1px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-box p {
    color: #060606;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.error-message{
    text-align: left;
    color: #060606;
    font-size: 17px;
}

.error-box button {
    position: relative;
    background: rgb(0, 102, 238);
    width: 50px;
    height: 25px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    margin-top: 15px;
}

.error-box button:hover{
    cursor: pointer;
    background: rgba(0, 102, 238, 0.85);
}
