* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.header {
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    background-color: #fff;
    justify-content: center;
    box-shadow:  0px -1px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header .main-block-header {
    display: flex;
    max-width: 1000px;
    height: 60px;
    width: 100%;
    background-color: white;
}

.name-webapp {
    font-size: 25px;
    font-weight: 700;
    background-color: white;
    color: #0066EE;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    cursor: pointer;
}

.data-table-container {
    position: relative;
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 640px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 60px 10px 20px;
}

.data-table-container h1{
    text-align: center;
    font-size: 35px;
}


/* .search-box {
    width: 100%;
    height: 45px;
    background-color: white;
    box-sizing: border-box;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow:  0px -1px 12px rgba(0, 0, 0, 0.1);
} */

/* .search-box .bx-search-alt-2 {
    font-size: 25px;
    margin-right: 5px;
    
} */

/* .search-box input {
    width: 100%;
    height: 100%;
    color: black;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 17px;
    outline: none;
} */

.table-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    
}

.product-container {
    position: relative;
    width: 100%;
    height: 496px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.product-container {
    margin-top: 20px;
    height: 550px;
}

.tb {
    width: 100%;
    height: 85%;
    backdrop-filter: blur(12px);
    border-radius: 12px;
    overflow: hidden;
    box-sizing: border-box;
}

.header-tb {
    position: relative;
    width: 100%;
    height: 8%;
    background-color: rgba(104, 161, 235, 1);
    padding: 10px;
    display: flex;
    align-items: center;
}

.header-tb p {
    font-weight: 700;
    font-size: 18px;
}

.body-tb {
    width: 100%;
    height: 92%;
    border-radius: 0 0 12px 12px;
    border-left: 2px;
    border-bottom: 2px;
    border-right: 2px;
    border-color: rgba(0, 0, 0, 0.1);
    border-style: solid;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
}

thead {
    width: 901px;
    width: 801px;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow:  0px -1px 5px rgba(0, 0, 0, 0.3);
}

table, th, td{
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
}

thead th {
    width: 50px;
}

thead .nameType {
    font-size: 18px;
    width: 190px;
}

thead .numberType {
    font-size: 18px;
    width: 165px;
}

tbody td span {
    display: inline-block;
    font-size: 17px;
    width: 100%;
    max-width: 173px;
    outline: none;
    box-sizing: border-box;
    padding: 1px;
}

tbody {
    width: 901px;
    box-sizing: border-box;
}

tbody tr:hover {
    background-color: rgba(234, 230, 230, 0.5);
}

tbody input[type='checkbox'] {
    width: 16px;
    height: 16px;
}

.button-box {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-container .button-box .btn {
    height: 40%;
    width: 20%;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 500;
}

.btn:hover {
    cursor: pointer;
}

.button-box #btn-apply-changes {
    background-color: rgb(86, 148, 229);
}

 #btn-apply-changes:hover {
    
    background: rgba(14, 107, 229, 0.85);
}

.button-box #btn-back-to-main {
    background-color: #a6a3a3;
}

.button-box #btn-back-to-main:hover {
    background: rgba(110, 110, 110, 0.85);
}

.product-container .button-box #btn-delete {
    background: rgba(255, 0, 0, 0.6);
}

.product-container .button-box #btn-delete:hover {
    background: rgba(255, 0, 0, 0.8);
}

.chosen-product-container {
    width: 30%;
}

.chosen-product-table {
    box-shadow:  0px -1px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header-chosen-product-table {
    display: flex;
    justify-content: space-between;
}

.chosen-product-container .button-box button {
    height: 40%;
    width: 40%;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(86, 148, 229);
}

.chosen-product-container .button-box button:hover {
    background: rgba(14, 107, 229, 0.85);
}

.chosen-product-container .button-box #btn-delete {
    background: rgba(255, 0, 0, 0.6);
}

.chosen-product-container .button-box #btn-delete:hover {
    background: rgba(255, 0, 0, 0.8);
    background: rgba(248, 38, 38, 0.8);
}

@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
      transform: translateX(-2px);
    }
    20%, 40%, 60%, 80% {
      transform: translateX(2px);
    }
}

.error-container {
    position: absolute;
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

#client-error-container {
    display: none;
}

#sever-error-container {
    display: flex;
}

.error-box {
    width: 400px;
    height: auto;
    background-color: #fefefe;
    padding: 8px;
    border-radius: 10px;
    box-shadow:  0px -1px 15px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-box p {
    color: #060606;
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.error-message{
    text-align: left;
    color: #060606;
    font-size: 17px;
}

.error-box button {
    position: relative;
    background: rgb(0, 102, 238);
    width: 50px;
    height: 25px;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    margin-top: 15px;
}

.error-box button:hover{
    cursor: pointer;
    background: rgba(0, 102, 238, 0.85);
}
